recursive-include docs *.html
recursive-include Levenshtein *.c *.h *.py
include README.rst
include HISTORY.txt
include COPYING
include NEWS
global-exclude *pyc
global-exclude *so
global-exclude .project
global-exclude .pydevproject
